<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>
            Админка бота
<!--            <button id="paymentButton" class="btn btn-primary .mr-0" onclick="sentTon()">Sent ton</button>-->
            <div class="input-group my-3">
                <input type="text" class="form-control" type="number" min="0" id="inputTONS"
                       placeholder='login' aria-label="Recipient's username"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="inputButton" class="btn btn-primary" id onclick="login()">login
                    </button>
                </div>
            </div>

        </h1>
        <span id="paymentMessage"></span>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script>

    const login = async () => {
        const TONS = document.querySelector('#inputTONS')
        const inputButton = document.querySelector('#inputButton')
        // paymentMessage.innerHTML = 'В течение нескольких минут - оплата будет произведена по всем кошелькам. Нужно немного подождать'
        if (TONS.value !== '') {
            inputButton.setAttribute('disabled', 'disabled')
                await fetch('/api/login', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({login: TONS.value})
                })
                    .then((response) => response.json())
                    .then((result) => {
                        window.location.href = "/"
                    });


        } else {
            inputButton.classList.toggle('btn-danger')
            inputButton.disabled = true;
            TONS.value = '';
            setTimeout(() => {
                inputButton.disabled = false;
                inputButton.classList.toggle('btn-danger')

            }, 3000)
        }
    }
</script>
</body>
</html>