<meta charset="UTF-8">
<link rel="shortcut icon" href="https://i.imgur.com/egaQ2ku.jpeg" type="image/x-icon">
<title>Padla Admin</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body { padding-top:50px; }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
        margin-right: 0;
        margin-left: 0;
    }

    @media (min-width: 1200px) {
        .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 100%;
        }
    }
    @media (min-width: 992px) {
        .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 100%;
        }
    }
    @media (min-width: 768px) {
        .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 100%;
        }
    }
    @media (min-width: 576px) {
        .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 100%;
        }
    }


</style>